<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-mas-core"
      version="0.1.0">
    <name>MAS</name>
    <description>Cordova MAS Plugin</description>
    <license>CA Technologies Ltd.</license>
    <keywords>cordova, MAS, CA Technologies</keywords>

    <js-module src="www/MASPlugin.js" name="MASPlugin">
        <clobbers target="MASPlugin" />
    </js-module>

    <js-module src="www/MASPluginApplication.js" name="MASPluginApplication">
        <clobbers target="MASPluginApplication" />
    </js-module>

    <js-module src="www/MASPluginAuthProviders.js" name="MASPluginAuthProviders">
        <clobbers target="MASPluginAuthProviders" />
    </js-module>

    <js-module src="www/MASPluginCallbacks.js" name="MASPluginCallbacks">
        <clobbers target="MASPluginCallbacks" />
    </js-module>

    <js-module src="www/MASPluginConstants.js" name="MASPluginConstants">
        <clobbers target="MASPluginConstants" />
    </js-module>

    <js-module src="www/MASPluginDevice.js" name="MASPluginDevice">
        <clobbers target="MASPluginDevice" />
    </js-module>

    <js-module src="www/MASPluginMAS.js" name="MASPluginMAS">
        <clobbers target="MASPluginMAS" />
    </js-module>

    <js-module src="www/MASPluginUser.js" name="MASPluginUser">
        <clobbers target="MASPluginUser" />
    </js-module>

    <js-module src="www/MASPluginGroup.js" name="MASPluginGroup">
        <clobbers target="MASPluginGroup" />
    </js-module>

    <js-module src="www/MASPluginUtils.js" name="MASPluginUtils">
        <clobbers target="MASPluginUtils" />
    </js-module>

    <js-module src="www/simple-popup.js" name="PopupUI">
        <clobbers target="PopupUI" />
    </js-module>
	<js-module src="www/MASPluginSecurityConfiguration.js" name="MASPluginSecurityConfiguration">
        <clobbers target="MASPluginSecurityConfiguration" />
    </js-module>

    <hook type="before_prepare" src="scripts/MASBeforePrepare.js" />

    <asset src="sample/html/mas-login.html" target="masui/mas-login.html"/>
    <asset src="sample/html/mas-otp.html" target="masui/mas-otp.html"/>
    <asset src="sample/html/mas-otpchannel.html" target="masui/mas-otpchannel.html"/>
    <asset src="sample/html/mas-enterpriseBrowser.html" target="masui/mas-enterpriseBrowser.html" />
    <asset src="sample/html/custom-login.html" target="custom-login.html" />
    <asset src="sample/img" target="masui/img"/>
    <!-- iOS -->
    <platform name="ios" >
        <config-file target="config.xml" parent="/*" >

            <preference name="deployment-target" value="9.0"/>

            <feature name="MASPluginMAS" >
                <param name="ios-package" value="MASPluginMAS"/>
            </feature>
			<feature name="MASPluginUser" >
                <param name="ios-package" value="MASPluginUser"/>
            </feature>
            <feature name="MASPluginGroup" >
                <param name="ios-package" value="MASPluginGroup"/>
            </feature>
            <feature name="MASPluginDevice" >
                <param name="ios-package" value="MASPluginDevice"/>
            </feature>
            <feature name="MASPluginApplication" >
                <param name="ios-package" value="MASPluginApplication"/>
            </feature>
            <feature name="MASPluginAuthProviders" >
                <param name="ios-package" value="MASPluginAuthProviders"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/MASPluginMAS.h" />
        <source-file src="src/ios/MASPluginMAS.m" />
        <header-file src="src/ios/MASPluginUser.h" />
        <source-file src="src/ios/MASPluginUser.m" />
        <header-file src="src/ios/MASPluginGroup.h" />
        <source-file src="src/ios/MASPluginGroup.m" />
        <header-file src="src/ios/MASPluginDevice.h" />
        <source-file src="src/ios/MASPluginDevice.m" />
        <header-file src="src/ios/MASPluginApplication.h" />
        <source-file src="src/ios/MASPluginApplication.m" />
        <header-file src="src/ios/MASPluginAuthProviders.h" />
        <source-file src="src/ios/MASPluginAuthProviders.m" />
        <header-file src="src/ios/MASPluginAuthenticationController.h" />
        <source-file src="src/ios/MASPluginAuthenticationController.m" />
        <header-file src="src/ios/WebViewController.h" />
        <source-file src="src/ios/WebViewController.m" />
        <resource-file src="src/ios/EnterpriseBrowser.storyboard" />

        <framework src="MASFoundation" type="podspec" spec="~> 1.7.10" />
        <framework src="MASUI" type="podspec" spec="~> 1.7.10" />
        

    </platform>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MASPluginMAS" >
                <param name="android-package" value="com.ca.mas.cordova.core.MASPluginMAS"/>
            </feature>
			<feature name="MASPluginUser" >
                <param name="android-package" value="com.ca.mas.cordova.core.MASPluginUser"/>
            </feature>
			<feature name="MASPluginDevice" >
                <param name="android-package" value="com.ca.mas.cordova.core.MASPluginDevice"/>
            </feature>
			<feature name="MASPluginApplication" >
                <param name="android-package" value="com.ca.mas.cordova.core.MASPluginApplication"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.NFC" />
           <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <framework src="com.ca:mas:1.7.10" />
        <framework src="com.ca:masui:1.7.10" />
        
        <source-file src="src/android/MASPluginMAS.java" target-dir="src/com/ca/mas/cordova/core" />
		<source-file src="src/android/MASPluginUser.java" target-dir="src/com/ca/mas/cordova/core" />
        <source-file src="src/android/MASPluginDevice.java" target-dir="src/com/ca/mas/cordova/core" />
        <source-file src="src/android/MASPluginApplication.java" target-dir="src/com/ca/mas/cordova/core" />
        <source-file src="src/android/MASCordovaPlugin.java" target-dir="src/com/ca/mas/cordova/core" />
        <source-file src="src/android/MASUtil.java" target-dir="src/com/ca/mas/cordova/core" />
        <source-file src="src/android/MASCordovaException.java" target-dir="src/com/ca/mas/cordova/core" />
    </platform>
</plugin>

